/Model.class
/TipoPersonagem.class
/Personagem.class
/Jogador.class
/Regiao.class
/Region.class
/RegiaoNome.class
/ERegiao.class
/ERegiaoNome.class
/EPersonagem.class
/Time.class
/Pergunta.class
/Alternativa.class
