/Program.class
/JogadorController.class
/MapController.class
/MapController$1.class
/RegiaoController.class
/RegionController.class
/PontuacaoService.class
/PontuacaoController.class
/PerguntaController.class
